@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  line-height: 1;
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #fff;
  padding: 60px 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 16px
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  outline: 0
}
.popup__close svg path {
  transition: all .3s ease
}
.popup__close:hover svg path {
  fill: #000;
  stroke: #000
}
.popup__text {
  font-size: 1.5rem;
  text-align: center
}
.popup__ok {
  display: flex;
  background: rgba(22,192,152,.38);
  color: #fff;
  border-color: #00b087;
  padding: 12px 48px;
  margin: 0 auto;
  transition: all .3s ease
}
.popup__ok:not(:first-child) {
  margin-top: 16px
}
.popup__ok:hover {
  background-color: rgba(22,192,152,.5)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  display: flex;
  border-bottom: 1px solid #dee2e6;
  height: 56px;
  position: relative;
  justify-content: space-between
}
.right_group {
  padding: 9px 32px 9px 20px;
  display: flex;
  align-items: center;
  gap: 16px
}
.header__logout {
  display: flex;
  align-items: center;
  gap: 6px;
  border-left: 1px solid #e1e7eb;
  padding-left: 16px;
  color: #636f7f;
  transition: all .3s ease
}
.header__logout svg {
  stroke: #636f7f;
  transition: all .3s ease
}
.header__logout:hover {
  opacity: .7
}
.main_group {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  width: 100%;
  gap: 20px
}
.btn_plus {
  display: block;
  height: 14px;
  width: 14px
}
.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #6a62f2;
  width: 34px;
  height: 34px;
  transition: all .3s ease
}
.button-add:hover {
  background: rgba(106,98,242,.9)
}
.actions-block {
  display: flex;
  gap: 8px;
  align-items: center
}
.actions-block a {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s ease;
  background: #e7ebee;
  position: relative
}
.actions-block a:hover {
  background: rgba(231,235,238,.7)
}
.actions-block a svg {
  display: block;
  width: 18px;
  height: 18px
}
.top__search a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s ease;
  background: #e7ebee
}
.top__search a:hover {
  background: rgba(231,235,238,.7)
}
.search__label {
  position: relative;
  max-width: 300px;
  width: 300px;
  display: inline-block
}
.top__search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 3px 3px 3px 20px;
  border: 1px solid #dee2e6;
  border-radius: 100px
}
.search__input {
  width: 80%;
  border: none;
  outline: 0;
  display: inline-block
}
.search__input::-webkit-input-placeholder {
  color: #636f7f;
  font-size: 13px
}
.search__input:-ms-input-placeholder {
  color: #636f7f;
  font-size: 13px
}
.search__input::-ms-input-placeholder {
  color: #636f7f;
  font-size: 13px
}
.search__input::placeholder {
  color: #636f7f;
  font-size: 13px
}
.search__result {
  display: none
}
.search__result.active {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: -webkit-max-content;
  height: max-content;
  background-color: #fff;
  padding: 12px 12px 0;
  border-radius: 12px;
  z-index: 200;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.15);
  overflow: hidden
}
.search__result-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  left: -12px;
  right: -12px;
  width: calc(100% + 24px);
  background: #6a62f2;
  color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center
}
.search__result-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 266px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 12px
}
.applications-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #636f7f
}
.applications-opt {
  display: flex;
  align-items: center;
  gap: 4px
}
.applications-opt span {
  display: inline-block;
  background: #f26262;
  padding: 3px 8px;
  border-radius: 16px;
  color: #fff
}
.applications-opt:not(:last-child) {
  padding-right: 12px;
  border-right: 1px solid #e1e7eb
}
.applications-service:not(:first-child) {
  padding-left: 12px
}
.account-info {
  display: flex;
  gap: 8px;
  align-items: center;
  width: -webkit-max-content;
  width: max-content
}
.account-info span {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #17192f;
  white-space: nowrap
}
.account-info svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.account-info svg path {
  fill: #17192f!important
}
.account-foto {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}
.account-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative
}
.account-content {
  display: none;
  position: absolute;
  top: calc(100% + 14px);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.15);
  flex-direction: column;
  right: -10px;
  background: #fff;
  z-index: 30;
  border-radius: 10px;
  padding: 16px;
  gap: 12px
}
.account-dropdown.open svg {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.account-dropdown.open .account-content {
  display: flex;
  width: 150%
}
.notification {
  position: absolute;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #6a62f2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px
}
.header__actions {
  display: flex;
  gap: 1rem;
  align-items: center
}
.header__right {
  display: flex;
  gap: 3.75rem;
  align-items: center
}
body {
  font-weight: 500
}
.page {
  display: grid;
  transition: all .5s ease;
  grid-template-columns: 1fr
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%
}
.page__block {
  display: flex;
  flex-direction: column
}
.page__header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center
}
.page__title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 2.25rem
}
.page__title span {
  display: flex;
  -webkit-animation: helloAnimate 2s linear infinite;
  animation: helloAnimate 2s linear infinite;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  margin-left: 6px
}
.menu {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 28px 36px;
  gap: 64px
}
.menu__header {
  display: flex;
  justify-content: space-between;
  gap: 14px
}
.menu__footer {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: auto
}
.menu__footer img {
  border-radius: 50%
}
.menu__footer div {
  display: flex;
  flex-direction: column
}
.menu__footer div span {
  color: #757575;
  font-size: 12px;
  line-height: 18px
}
.nav__menu__decor {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 74px;
  height: auto;
  z-index: 0;
  transition: all .5s ease
}
.logo_ico img {
  margin: 0 auto
}
.nav__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px
}
.nav__link {
  border-radius: 8px;
  transition: all .3s ease
}
.nav__link a {
  display: flex;
  align-items: center
}
.nav__link a span {
  letter-spacing: -.01rem
}
.nav__link:hover {
  background: rgba(89,50,234,.2)
}
.nav__link.active {
  background: #5932ea
}
.nav__link.parent a::after {
  content: url(../img/icons/arrow-blue.svg);
  margin-left: auto;
  height: 16px;
  transition: all .3s ease
}
.nav__link.active.parent a::after,
.nav__link:hover.parent a::after {
  content: url(../img/icons/arrow.svg)
}
.nav__link.active .text {
  color: #fff
}
.nav__link svg {
  transition: all .3s ease
}
.nav__link.active svg,
.nav__link:hover svg {
  stroke: #fff
}
.nav__link-wrapper {
  padding: 11px 8px 11px 11px;
  display: flex;
  gap: 14px;
  font-size: .875rem;
  line-height: 1.8;
  transition: all .3s ease;
  min-height: 46px
}
.nav__link-wrapper:hover .text {
  color: #fff
}
.nav__link-wrapper .text {
  color: #9197b3;
  transition: all .3s ease
}
::-webkit-scrollbar {
  width: 7px;
  background: #f0f0f0;
  height: 7px
}
::-webkit-scrollbar-thumb {
  background: #5932ea
}
a {
  transition: all .3s ease
}
.open-page {
  background: #fafbff;
  padding: 40px 70px 100px
}
.open-page__content {
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
  border-radius: 30px;
  background: #fff;
  padding: 30px 38px 40px
}
.open-page__header {
  display: flex;
  justify-content: space-between;
  gap: 24px
}
.open-page__header:not(:last-child) {
  margin-bottom: 50px
}
.open-page__left {
  display: flex;
  flex-direction: column;
  gap: 7px
}
.open-page__search {
  border-radius: 10px;
  background: #f9fbff;
  border: 1px solid #e7e7e7;
  height: -webkit-max-content;
  height: max-content;
  min-width: 20vw
}
.open-page__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 33px
}
.open-page__showing {
  color: #b5b7c0;
  font-size: .875rem;
  line-height: 21px
}
.logo__version {
  color: #838383;
  font-size: 10px;
  line-height: 26px;
  letter-spacing: .01rem;
  align-self: flex-end;
  font-weight: 500
}
.logo__block {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1
}
.logo__block img:not(:last-child) {
  margin-right: 4px
}
.nav_svg {
  display: block;
  width: 24px;
  height: 24px;
  stroke: #9197b3;
  fill: transparent
}
.table {
  max-width: 100%;
  overflow-x: auto;
  width: 100%
}
.open-page__table thead {
  color: #b5b7c0;
  font-size: .875rem;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2
}
.open-page__table thead tr td {
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: 1px solid #eee
}
.open-page__table tbody tr td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  color: #292d32;
  font-size: .875rem;
  white-space: nowrap
}
.open-page__table tbody tr td a:hover {
  opacity: .7
}
.text-center {
  text-align: center
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.open-page__pagination:not(:first-child) {
  margin-top: 30px
}
.pagination {
  display: flex;
  align-items: center;
  gap: 12px
}
.pagination li a,
.pagination li span {
  padding: 6px 5px;
  background: #f5f5f5;
  border: 1px solid #eee;
  color: #404b52;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 26px;
  font-size: 12px
}
.pagination li.active span {
  background-color: #5932ea;
  color: #fff
}
.pagination li a:hover {
  color: #5932ea;
  border-color: #5932ea
}
.user-name {
  font-size: 14px;
  line-height: 21px
}
@-webkit-keyframes helloAnimate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  50% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg)
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}
@keyframes helloAnimate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  50% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg)
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}
.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 7px
}
.input-group svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: transparent
}
.input-group input {
  outline: 0;
  border: none
}
.input-group input::-webkit-input-placeholder {
  color: #b5b7c0;
  font-size: .75rem
}
.input-group input:-ms-input-placeholder {
  color: #b5b7c0;
  font-size: .75rem
}
.input-group input::-ms-input-placeholder {
  color: #b5b7c0;
  font-size: .75rem
}
.input-group input::placeholder {
  color: #b5b7c0;
  font-size: .75rem
}
#loader-search {
  display: none
}
.nowrap a {
  white-space: nowrap
}
input[type=search]::-webkit-search-cancel-button {
  cursor: pointer;
  -webkit-appearance: none;
  background-color: #000;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 fill=%27%23777%27><path d=%27M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z%27/></svg>");
  background-size: 20px 20px;
  height: 20px;
  width: 20px
}
.mf-cursor:before {
  -webkit-transform: scale(.4);
  transform: scale(.4);
  opacity: .6
}
.mf-cursor.-opacity:before {
  opacity: .3
}
.mf-cursor.-exclusion::before {
  -webkit-transform: scale(.6);
  transform: scale(.6)
}
.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: #5932ea
}
.btn-add:hover {
  background: rgba(89,50,234,.8)
}
.header__logout svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: transparent
}
.btn-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: transparent
}
.btn-del {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background: #e65f5c
}
.btn-del svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: #fff
}
.btn-del:hover {
  opacity: .8
}
.btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background: #f5f5f5
}
.btn-remove:hover {
  opacity: .8
}
.td-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center
}
.icon-sort {
  display: block;
  width: .625rem;
  height: .4375rem;
  fill: transparent
}
.btn-sort {
  display: flex;
  gap: 4px;
  align-items: center
}
.open-page__search {
  position: relative
}
#oc-search-result.active {
  display: flex!important;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 20vw;
  height: -webkit-max-content;
  height: max-content;
  background-color: #fff;
  padding: 20px 20px 16px;
  z-index: 20;
  box-shadow: 0 8px 20px 0 rgba(38,39,40,.1);
  color: #000;
  max-height: 40vh;
  border-radius: 12px
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}
[data-tippy-root] {
  max-width: calc(100vw - 10px)
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: visibility,opacity,-webkit-transform;
  transition-property: transform,visibility,opacity;
  transition-property: transform,visibility,opacity,-webkit-transform
}
.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0
}
.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
  transform-origin: center top
}
.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0
}
.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom
}
.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0
}
.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
  transform-origin: center left
}
.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0
}
.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
  transform-origin: center right
}
.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1
}
@media (min-width:61.99875em) and (min-height:600px) {
  .menu__header {
    position: sticky;
    top: 10px
  }
}
@media (min-width:1300px) {
  .open-page__table {
    margin-left: -38px;
    margin-right: -38px;
    width: calc(100% + 38px + 38px)
  }
  .open-page__table thead tr td:first-child {
    padding-left: 38px
  }
  .open-page__table thead tr td:last-child {
    padding-right: 38px
  }
  .open-page__table tbody tr td {
    padding-top: 12px;
    padding-bottom: 12px
  }
  .open-page__table tbody tr td:first-child {
    padding-left: 38px
  }
  .open-page__table tbody tr td:last-child {
    padding-right: 38px
  }
}
@media (min-width:120em) {
  [class*=__container] {
    padding-left: 3rem
  }
  [class*=__container] {
    padding-right: 3rem
  }
  .page__block {
    gap: 3.125rem
  }
  .menu {
    padding-bottom: 4.75rem
  }
}
@media (max-width:1300px) {
  .menu {
    padding: 28px 16px
  }
  .open-page {
    padding: 28px 16px;
    overflow: hidden
  }
  .open-page__table {
    max-width: 100%;
    overflow-x: auto
  }
  .open-page__table thead tr td:not(:last-child) {
    padding-right: 12px
  }
  .open-page__table tbody tr td:not(:last-child) {
    padding-right: 12px
  }
}
@media screen and (max-width:1300px) {
  .page__content {
    overflow: hidden
  }
  .header {
    overflow-x: auto;
    height: -webkit-max-content;
    height: max-content
  }
  .header::-webkit-scrollbar {
    height: 5px
  }
  .main_group {
    width: -webkit-max-content;
    width: max-content
  }
  .applications-block div {
    white-space: nowrap
  }
}
@media (max-width:20em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .page__block {
    gap: 1.25rem
  }
  .menu {
    padding-bottom: 2.125rem
  }
}
@media (max-width:61.99875em) {
  .menu {
    position: fixed;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: auto;
    height: -webkit-max-content;
    height: max-content;
    padding: 16px;
    background: #fafbff
  }
  .menu__header {
    align-items: center
  }
  .menu__footer:not(:first-child) {
    margin-top: 30px
  }
  .nav__link-wrapper {
    font-size: 1.125rem
  }
  .open-page__content {
    padding: 24px 16px
  }
  .open-page__header:not(:last-child) {
    margin-bottom: 24px
  }
  .open-page__header {
    flex-direction: column
  }
  .nav_svg {
    width: 30px;
    height: 30px
  }
  .open-page__table thead tr td {
    padding-top: 8px;
    padding-bottom: 8px
  }
  .open-page__pagination .row {
    flex-direction: column-reverse;
    gap: 24px
  }
  .pagination {
    gap: 8px
  }
  .pagination li a,
  .pagination li span {
    padding: 10px;
    min-width: 30px
  }
}
@media (max-width:47.99875em) {
  .header__right {
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
    width: 100%
  }
  .open-page__search {
    width: 100%
  }
  .mf-cursor {
    display: none
  }
}
@media (max-width:29.99875em) {
  .page__header {
    flex-wrap: wrap
  }
}
@media (min-width:20em) and (max-width:120em) {
  @supports (padding-left:clamp(0.9375rem ,0.525rem + 2.0625vw ,3rem)) {
    [class*=__container] {
      padding-left: clamp(.9375rem ,.525rem + 2.0625vw ,3rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,0.525rem + 2.0625vw ,3rem)) {
    [class*=__container] {
      padding-left: calc(.9375rem + 2.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,0.525rem + 2.0625vw ,3rem)) {
    [class*=__container] {
      padding-right: clamp(.9375rem ,.525rem + 2.0625vw ,3rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,0.525rem + 2.0625vw ,3rem)) {
    [class*=__container] {
      padding-right: calc(.9375rem + 2.0625 * (100vw - 20rem)/ 100)
    }
  }
  @supports (gap:clamp(1.25rem ,0.875rem + 1.875vw ,3.125rem)) {
    .page__block {
      gap: clamp(1.25rem ,.875rem + 1.875vw ,3.125rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.875rem + 1.875vw ,3.125rem)) {
    .page__block {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem)/ 100)
    }
  }
  @supports (padding-bottom:clamp(2.125rem ,1.6rem + 2.625vw ,4.75rem)) {
    .menu {
      padding-bottom: clamp(2.125rem ,1.6rem + 2.625vw ,4.75rem)
    }
  }
  @supports not (padding-bottom:clamp(2.125rem ,1.6rem + 2.625vw ,4.75rem)) {
    .menu {
      padding-bottom: calc(2.125rem + 2.625 * (100vw - 20rem)/ 100)
    }
  }
}